/* tag */
h1{
    color: lavender;
    background-color: yellow;
}
/* id */
#heading2{
    color: tomato;
    background-color: yellow;
}

body{
    background-color: blueviolet;
}

/* class */
.Content{
    color: azure;
}